body{background-color:#D9CFC1}
body{margin:40px;}
h1{color:#80A1C1;}
h1{font-family: Abadi MT Condensed Extra Bold, sans-serif ;}
h1{font-size: 45px;}
h2{color:#A77E58;}
h2{font-size: 30px;}
h2{font-family: Skia, sans-serif;}
a{color:#BA3F1D;}
a{text-decoration: none;}
a{font-family: Tahoma, sans-serif;}
p{font-size:20px;}
p{font-family: Marker Felt, sans-serif;}
.option{font-size: 30px;}
.option{font-family: Abadi MT Condensed Extra Bold, sans-serif  ;}
